{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<link rel="stylesheet" href="{% static 'polls/global.css' %}" />
	</head>

	<body class="w-full max-w-5xl mx-auto">
		<h1 class="font-semibold text-6xl text-red-400">hello question page</h1>

		<form action="{% url 'polls:addQuestion' %}" method="post">
			{% comment %} for auth reasons {% endcomment %} {% csrf_token %}
			<fieldset>
				{% comment %} check for errors {% endcomment %} {% if error_message %}
				<p><strong>{{ error_message }}</strong></p>
				{% endif %} {% comment %} list all of choices {% endcomment %}
				<h2>Question:</h2>
				<input type="text" name="question" />
				<br />
				<h2>Choices:</h2>
				<label>
					choice_1
					<input type="text" name="choice" />
				</label>
				<br />

				<label>
					choice_2
					<input type="text" name="choice" />
				</label>
				<br />

				<label>
					choice_3
					<input type="text" name="choice" />
				</label>
			</fieldset>
			<button
				class="bg-slate-800 text-emerald-300 py-2 px-4 rounded-md"
				type="submit"
			>
				add question
			</button>
		</form>
	</body>
</html>
